* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #636363;
  line-height: 1.4;
  margin: 90px auto;
  height: 100%;
  max-width: 1440px;
}

li {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: #636363;
}

.btn {
  background: #fdb755;
  text-align: center;
  border: 0;
  font-size: 14px;
  color: #ffffff;
  width: 217px;
  height: 36px;
  cursor: pointer;
  font-family: 'Montserrat';
  border-radius: 4px;
}

.title {
  font-size: 38px;
  font-family: 'Bitter';
  color: #000000;
  font-weight: unset;
}

.subtitle {
  font-family: 'Montserrat';
  font-size: 1rem;
  color: #93918f;
  margin-top: 0.4rem;
}

.danger {
  text-align: center;
  margin-top: 0.8rem;
  color: #cc3300;
  font-weight: 600;
  font-family: 'Montserrat';
}

header {
  background: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
}

header .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 80px;
  margin: auto;
}

header .nav-container .logo {
  margin-left: 80px;
  margin-top: 1.6rem;
}

header .nav-container #nav-bar {
  width: 100%;
  margin-left: 328px;
}

header .nav-container #nav-bar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-container #nav-bar .nav-links li {
  margin: 0 12px;
  padding-top: 1.5rem;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 1rem 0;
  width: 52%;
  background: #ffffff;
  position: absolute;
  height: 100px;
  left: 0px;
  right: 0;
  top: 1310px;
}

#footer a {
  display: inline;
  text-decoration: none;
  color: inherit;
  margin: 0 1.6rem;
}

#footer .logoF {
  padding-left: 0.7rem;
  padding-top: 0.5rem;
}

#footer .footer-link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.title {
  font-size: 38px;
  font-family: 'Bitter';
  color: #000000;
  font-weight: unset;
}

.subtitle {
  font-family: 'Montserrat';
  font-size: 1rem;
  color: #93918f;
  margin-top: 0.4rem;
}

#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  text-align: center;
}

#hero .hero-heading {
  margin-top: 2.1rem;
}

#hero .hero-heading .subtitle {
  margin-top: 1rem;
}

#hero .hero-btn-container {
  margin: auto;
  padding-top: 2.7rem;
  display: inline-block;
}

#hero .r-subreddit {
  font-family: 'Montserrat';
  color: #93918f;
  font-weight: 599;
  padding-top: 2.9rem;
}

#hero .hero-img-container {
  display: inline;
}

#hero .hero-img-container .hero-btn {
  background: #fdb755;
  text-align: center;
  border: 0;
  font-size: 14px;
  color: #ffffff;
  width: 217px;
  height: 36px;
  cursor: pointer;
  font-family: 'Montserrat';
  border-radius: 4px;
}

#hero .r-subreddit {
  font-family: 'Montserrat';
  color: #93918f;
  font-weight: 599;
  padding-top: 2.9rem;
}

#hero .hero-img-container {
  display: inline;
}

#hero .hero-img-container .hero-img {
  margin: 2rem auto;
  max-width: 100%;
}

.info {
  margin: auto;
  width: 738px;
  height: 350px;
  margin-top: 95px;
}

.info .title-section {
  font-size: 24px;
}

.info .subtitle {
  font-size: 16px;
  line-height: 1.8rem;
  padding-left: 0.6rem;
}

.info ul li {
  list-style: unset;
}

.info #about {
  margin-top: 102px;
}

.info #about .subtitle {
  padding-top: 0.3rem;
}

.info a {
  color: #4287f5;
}

#form {
  text-align: center;
  padding-top: 32px;
}

#form .title {
  padding-bottom: 27px;
}

#form label {
  font-size: 18px;
  margin-right: 10px;
}

#form #sub-input {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  outline: none;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  font-size: 14px;
  font-family: 'Montserrat';
  width: 370px;
}

#form .form-btn {
  width: 92px;
  margin-left: 10px;
}

.loading {
  text-align: center;
}

.loading .spinner {
  width: 71px;
  margin-top: 3.5rem;
  -webkit-animation: spinn 1.5s infinite linear;
          animation: spinn 1.5s infinite linear;
}

@-webkit-keyframes spinn {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinn {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#heatmap {
  margin-top: 52px;
  width: 960px;
  margin: 0 auto;
}

#heatmap .heatmap-header {
  width: 960px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
}

#heatmap .heatmap-header .hr-of-posts {
  color: #787878;
  font-size: 14px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: bold;
  padding: 0 0.8rem;
}
/*# sourceMappingURL=main.css.map */