@import './config.scss';

footer {
  display: block;
  width: 100%;
  #footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0.5rem 0;
    width: 100%;
    @include flex-center;
    background: color-get(backgroundC);
    @include mobile {
      font-size: 0.8rem;
    }

    a {
      display: inline;
      text-decoration: none;
      color: inherit;
      margin: 0 1.6rem;
    }
    .logoF {
      padding-left: 0.7rem;
      padding-top: 0.5rem;
    }

    .footer-link {
      flex: 1;
    }
  }
}
