#form {
  text-align: center;
  padding-top: 32px;
  @include mobile {
    margin: auto;
    transform: translateX(15%);
  }

  .title {
    padding-bottom: 27px;
  }

  label {
    font-size: 18px;
    margin-right: 10px;
  }

  #sub-input {
    background: color-get(backgroundC);
    border: 1px solid #e6e6e6;
    outline: none;
    border-radius: 2px;
    padding: 0.5rem 1rem;
    font-size: 14px;
    font-family: 'Montserrat';
    width: 370px;

    @include mobile-sm {
      font-size: 10px;
      width: 350px;
    }
  }

  .form-btn {
    width: 92px;
    margin-left: 10px;

    @include mobile {
      margin-top: 0.8rem;
    }
  }
}

.loading {
  text-align: center;
  .spinner {
    width: 71px;
    margin-top: 3.5rem;
    animation: spinn 1.5s infinite linear;

    @keyframes spinn {
      to {
        transform: rotate(360deg);
      }
    }
  }
}
