@import 'config';

#heatmap {
  margin-top: 52px;
  width: 100%;
  @include flex-center;
  flex-direction: column;

  .heatmap-header-container {
    width: 960px;
    height: 52px;
    @include flex-center;
    background-color: darken(color-get(backgroundC), 5%);
    margin: auto;
    @include laptop-lg {
      width: 720px;
      margin-right: 2rem;
    }
    @include laptop {
      width: 535px;
      height: 40px;
    }
    @include mobile {
      width: 100%;
      height: 40px;
      justify-content: left;
    }

    .heatmap-header {
      display: flex;
      width: 100%;
      margin: auto;
      // @include mobile {
      //   font-size: 0.4rem;
      // }

      .hr-of-posts {
        color: color-get(nums-color);
        font-size: 14px;
        text-align: center;
        font-family: 'Montserrat';
        font-weight: bold;
        padding: 0 0.8rem;
        cursor: default;
        @include laptop-lg {
          padding: 0 0.3rem;
          font-size: 0.8rem;
        }
        @include laptop {
          padding: 0 0.2rem;
          font-size: 0.6rem;
        }
        @include mobile {
          font-size: 0.4rem;
          padding: 0 0.1rem;
        }
      }
    }
  }
  // .heatmap-header-container {
  //   margin-left: 9.5rem;

  //   @include laptop {
  //     margin-left: 7.5rem;
  //   }
  //   @include tablet {
  //     margin-left: 2rem;
  //   }
  //   @include mobile {
  //     margin: auto;
  //     padding-right: 10rem;
  //   }
  // }
  .heatmap-row {
    @include flex-center;

    @include mobile {
      // margin-left: 20px;
      margin: auto;
      width: 100%;
    }

    .daysOfWeek-container {
      background: color-get(weekDays);
      color: color-get(backgroundC);
      .day {
        font-family: 'Montserrat';
        font-weight: 600;
        width: 154px;
        height: 40px;
        text-align: center;
        cursor: default;
        transform: translateY(20%);
        // padding-top: 10px;
        @include laptop-lg {
          width: 120px;
          height: 30px;
        }
        @include laptop {
          width: 115px;
          height: 28px;
          font-size: 0.9rem;
        }
        @include tablet {
          width: 100px;
          height: 56px;
          font-size: 0.7rem;
          transform: translateY(40%);
        }
        @include mobile {
          width: 90px;
          height: 84px;
          font-size: 0.7rem;
          transform: translateY(40%);
        }
      }
    }

    .heatmap-btn {
      width: 40px;
      height: 40px;
      cursor: pointer;
      color: color-get(backgroundC);
      font-size: 700;
      text-align: center;
      border: 0;

      @include laptop-lg {
        width: 30px;
        height: 30px;
      }

      @include laptop {
        width: 22px;
        height: 28px;
      }

      &:hover {
        opacity: 0.8;
        transform: scale(1.3);
        border: 0;
      }
      &:active {
        transform: scale(0.95);
      }

      &.active {
        background: #888 !important;
      }
    }
  }
  .time {
    font-family: 'Montserrat';
    text-align: center;
    margin-top: 12px;
    &-zone {
      font-weight: bold;
    }
  }
}
