@import 'config';
header {
  @include flex-center;
  justify-content: space-between;
  height: 100px;
  .logo {
    margin-left: 25px;
  }

  .nav-links {
    @include flex-center;
    li {
      margin: 0 25px;
    }
  }
}
