@import './config.scss';

#hero {
  @include flex-center;
  flex-direction: column;
  margin: auto;
  text-align: center;

  .hero-heading {
    margin-top: 2.1rem;

    .subtitle {
      margin-top: 1rem;
    }
  }
  .hero-btn-container {
    margin: auto;
    padding-top: 2.7rem;
    display: inline-block;
  }

  .r-subreddit {
    font-family: 'Montserrat';
    color: color-get(subtitle);
    font-weight: 599;
    padding-top: 2.9rem;
  }

  .hero-img-container {
    display: inline;

    .hero-img {
      margin: 2rem auto;
      max-width: 100%;
    }
  }
}
