@import 'config';

.info {
  margin: auto;
  width: 738px;
  height: 350px;
  margin-top: 95px;
  @include mobile {
    padding-left: 2rem;
  }
  @include tablet {
    padding-left: 2rem;
  }

  .title-section {
    font-size: 24px;
  }
  .subtitle {
    font-size: 16px;
    line-height: 1.8rem;
    padding-left: 0.6rem;
  }

  ul li {
    list-style: unset;
  }

  #about {
    margin-top: 102px;

    .subtitle {
      padding-top: 0.3rem;
    }
  }

  a {
    color: color-get(about-link-color);
  }
}
