@import 'config';

.info {
  margin: auto;
  width: 738px;
  height: 350px;

  .title-section {
    font-size: 24px;
  }
  .subtitle {
    font-size: 16px;
  }

  ul li {
    list-style: unset;
  }

  #about {
    margin-top: 2rem;
  }

  a {
    color: color-get(about-link-color);
  }
}
