@import 'config';

.posts-container {
  margin: 1rem auto;
  width: 786px;
  height: 211px;
  table {
    font-family: 'Montserrat';
    border-collapse: collapse;
  }

  td,
  th {
    border: 1px solid color-get(text-color);
    text-align: center;
    padding: 0.3rem;
  }

  .posts-title {
    color: color-get(posts-title-link);
  }
}
