$colors: (
  backgroundC: #ffffff,
  text-color: #636363,
  title: #000000,
  subtitle: #93918f,
  hero-btn: #fdb755,
  btn-text: #ffffff,
  about-link-color: #4287f5,
  danger: #cc3300,
  nums-color: #787878,
);

@function color-get($color) {
  @return map-get($colors, $color);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
