$colors: (
  backgroundC: #ffffff,
  text-color: #636363,
  title: #000000,
  subtitle: #93918f,
  hero-btn: #fdb755,
  btn-text: #ffffff,
  about-link-color: #4287f5,
  danger: #cc3300,
  nums-color: #787878,
  weekDays: #1e2537,
  posts-title-link: #0087ff,
);

@function color-get($color) {
  @return map-get($colors, $color);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin laptop-lg {
  @media (min-width: 1025px) and (max-width: 1390px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 481px) and (max-width: 786px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin mobile-sm {
  @media (max-width: 320px) {
    @content;
  }
}
