* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  // max-width: 1440px;
  background-color: color-get(backgroundC);
  color: color-get(text-color);
  line-height: 1.4;
  margin: 90px auto;
  height: 100%;
  // width: 100%;
  // max-width: 1440px;
  max-width: 1440px;
  // height: 1410px;
}

li {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: color-get(text-color);
}

@import './header';
@import 'config';
@import 'footer';
@import 'hero';
@import 'info';
