@import 'config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  margin: auto;
}

body {
  background-color: color-get(backgroundC);
  color: color-get(text-color);
  line-height: 1.4;
  margin: 90px auto;
  height: 100%;
  max-width: 1440px;
  width: 100%;
}

li {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: color-get(text-color);
}

.btn {
  background: color-get(hero-btn);
  text-align: center;
  border: 0;
  font-size: 14px;
  color: color-get(btn-text);
  width: 217px;
  height: 36px;
  cursor: pointer;
  font-family: 'Montserrat';
  border-radius: 4px;

  @include mobile-sm {
    width: 200px;
    height: 30px;
    font-size: 12px;
  }
}

.title {
  font-size: 38px;
  font-family: 'Bitter';
  color: color-get(title);
  font-weight: unset;
  @include tablet {
    font-size: 1.8rem !important;
  }
  @include mobile {
    font-size: 1.4rem !important;
  }
  @include mobile-sm {
    font-size: 1.1rem !important;
  }
}
.subtitle {
  font-family: 'Montserrat';
  font-size: 1rem;
  color: color-get(subtitle);
  margin-top: 0.4rem;
}

.danger {
  text-align: center;
  margin-top: 0.8rem;
  color: color-get(danger);
  font-weight: 600;
  font-family: 'Montserrat';
  @include tablet {
    font-size: 0.8rem;
  }
  @include mobile {
    font-size: 0.7rem;
  }
  @include mobile-sm {
    font-size: 0.6rem;
  }
}

@import './header';
@import 'footer';
@import 'hero';
@import 'info';
@import 'form';
@import 'heatmap';
@import 'posts-table';
